###############################################################
##	 /'\_/`\                                    
##	/\      \     __      ___      __     ___   
##	\ \ \__\ \  /'__`\  /' _ `\  /'_ `\  / __`\ 
##	 \ \ \_/\ \/\ \L\.\_/\ \/\ \/\ \L\ \/\ \L\ \
##	  \ \_\\ \_\ \__/.\_\ \_\ \_\ \____ \ \____/
##	   \/_/ \/_/\/__/\/_/\/_/\/_/\/___L\ \/___/ 
##	                               /\____/      
##	                               \_/__/       
##	@author Leon Hartley
###############################################################

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.+)$ index.php?do=$1 [QSA,L]